* {
  transition:0.6s;  
}

html {
  min-height: 100%;
  background-image: linear-gradient(to bottom right, #578CC7, rgb(124, 102, 231));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
    /*background-color: rgb(124, 102, 231);*/
    margin-left:20vw;
    margin-right:20vw;
    margin-top:10vw;
    text-align:left;
    max-width:100%;
    font-family: 'Ubuntu', sans-serif;
}

div {
  padding:10px;
}

.page-heading {
    font-size: 100px;
    color: rgb(29, 23, 23);
}

.right {
  text-align: right;
}

.content {
    font-size: 20px;
    color: rgb(29, 23, 23);
}

#navigation {
  background-color: white;
  list-style-type: none;
  text-align: left; 
  padding:0;
  margin: 0;
  border-radius:5px;
}

#navigation li {
  display: inline-block;
  padding:20px;
}

#navigation li a {
  text-decoration:none;
  color:rgb(124, 102, 231);
}

#navigation li a:hover {
  color:rgb(29, 23, 23);
}